<!-- simple form requesting a username -->
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <form action='/users' method='post'>
      <p>
        Who are you?<br>
        <input type='text' name='userID' value='usr'>
        <input type='submit' value='submit'>
      </p>
    </form>
  </body>
</html>